<html>
<head>
<title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<p> Username: {{name}}</p>
<p> Mobile: {{mobile}}</p>
<p> Email: {{email}}</p>
<p> Password: {{password}}</p>
<p> Address: {{adds}}</p>
<p> DOB: {{birthday}}</p>
</body>
</html>